{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}<title> Ecommerce|Signup </title>{% endblock %}

{% block content %}
    <h4 class="card-title">Register</h4>
    <form method="POST" action="{% url 'account_signup' %}" class="my-login-validation" novalidate="">
    {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
        </div>
        <div class="form-group m-0">
        <button type="submit" class="btn btn-primary btn-block">
        Register
        </button>
        </div>
        <div class="mt-4 text-center">
        Already have an account? <a href="{% url 'account_login' %}">Login here</a>
        </div>
    </form>
    {% load account socialaccount %}

    {% get_providers as socialaccount_providers %}
    <ul class="social_providers_list">
    {% for provider in socialaccount_providers %}
        <a title="{{provider.name}}" class="btn btn-outline-dark"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fa fa-{{provider.name}}" id="social_icon"></i>{{provider.name}}</a>
    {% endfor %}
     </ul>
{% endblock %}